body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-baloo: Baloo;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-black: #000;
}